/* Move down content because we have a fixed navbar that is 50px tall */
/* line 2, ../../../resources/sass/scss/adm/css/index.scss */
body {
  padding-top: 50px;
}

/* line 6, ../../../resources/sass/scss/adm/css/index.scss */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* line 11, ../../../resources/sass/scss/adm/css/index.scss */
.navbar-fixed-top {
  border: 0;
}

/* line 15, ../../../resources/sass/scss/adm/css/index.scss */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

/* line 20, ../../../resources/sass/scss/adm/css/index.scss */
.placeholders h4 {
  margin-bottom: 0;
}

/* line 24, ../../../resources/sass/scss/adm/css/index.scss */
.placeholder {
  margin-bottom: 20px;
}

/* line 28, ../../../resources/sass/scss/adm/css/index.scss */
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* line 35, ../../../resources/sass/scss/adm/css/index.scss */
.sidebar {
  left: 0;
  padding: 5px 5px 5px 40px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* line 44, ../../../resources/sass/scss/adm/css/index.scss */
.main {
  padding: 20px;
}

/* line 48, ../../../resources/sass/scss/adm/css/index.scss */
.main .page-header {
  margin-top: 0;
}

@media (min-width: 768px) {
  /* line 53, ../../../resources/sass/scss/adm/css/index.scss */
  .sidebar {
    position: fixed;
    top: 51px;
    z-index: 1000;
    bottom: 0;
  }

  /* line 59, ../../../resources/sass/scss/adm/css/index.scss */
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  /* line 66, ../../../resources/sass/scss/adm/css/index.scss */
  .sidebar {
    position: relative;
    top: 0;
    width: 100%;
  }
}

/* line 73, ../../../resources/sass/scss/adm/css/index.scss */
.nav-sidebar {
  margin-right: -6px;
  margin-bottom: 15px;
  margin-left: -40px;
}

/* line 78, ../../../resources/sass/scss/adm/css/index.scss */
.nav-sidebar li a {
  padding: 5px 40px;
}

/* line 85, ../../../resources/sass/scss/adm/css/index.scss */
.nav-sidebar .active a,
.nav-sidebar .active a:hover,
.nav-sidebar .active a:focus {
  color: #fff;
  background-color: #428bca;
}

/* line 92, ../../../resources/sass/scss/adm/css/index.scss */
#editor {
  width: 100%;
}
